.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  margin: auto;
  animation: App-logo-spin infinite 20s linear;
  height: 70%;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #accbee 0%, #e7f0fd 100%);
  width: 100%;
  height: 150px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.App-header div {
  margin: auto;
}
.App-header span {
  margin: 0;
  padding: 0;
  font-family: 'Product Sans', 'sans-serif';  
  font-weight: 900;
  font-size: 300%;
  letter-spacing: 1px;
}
.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  height: calc(100% - 150px);
}

.App-body-map {
  flex: 1;
  height: calc(100vh - 150px);
}

.App-body-details {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 150px);
}

.App-body-details-search {
  display: flex;
  width: 100%;
  flex: 0.5;
  padding-bottom: 2em;
}

.App-body-details-search  form {
  margin: auto;
  
}

.App-body-details-search  input {
  border-radius: 0.5em;
  height: 1.9em;
  width: 12em;
  border: 1px solid lightgray;
  font-family: 'Product Sans', 'sans-serif';
  font-size: 26px;
  padding-left: 15px;
  color: gray;
  margin: 25px 10px 10px 0;
}

.App-body-details-search  button {
  height: 3.4em;
  width: 8em;
  border-radius: 1em;
  border: 1px solid lightgray;
  background-color: #ff6368;
  color: #FFF;
  font-family: 'Product Sans', 'sans-serif';
  font-weight: 700;
  font-size: 110%;
  letter-spacing: 1px;
  padding-top: 9px;
}

.App-body-details-search  button:focus, input:focus {
  outline: none;
}

.App-body-details-search  button:hover {
  border: 1px solid #ff6368;
  background-color: #FFF;
  color: black; 
}


.App-body-details-list {
  width: 100%;
  margin: auto;
  flex: 3;
  display: flex;
}
.App-body-details-list  .list-container{
  margin: auto;
  flex-basis: 90%;
  height: 100%;
  display: flex;
}
.App-body-details-list  .list-container ul {
  flex: 1;
  overflow-y: scroll; 
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.App-body-details-list  .list-container li {
  flex-basis: 32%;
  height: 18em;
  margin-bottom: 5px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.App-body-details-list  .list-container .list-places-item {
  flex-basis: 100%;
  height: 100%;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 8px;
}
.App-body-details-list  .list-container .list-places-item:hover {
  border: 2px lightblue solid;
}

.App-body-details-list  .list-container li img {
 width: 100%;
 height: 70%;
 border-radius: 3px;
}

.list-places-item .list-places-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.list-places-item-details-rate {
  font-size: 20px;
  margin-left: 0.3em;
}
.list-places-item-details-name {
   font-size: 13px;
   margin-bottom: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
